<div class="alert alert-info" role="alert" ng-show="!ready">Caricamento</div>

<div ng-show="ready">
  <h1>Simulazioni</h1>
  <table class="table table-striped">
  	<thead>
  		<tr>
  			<th>Nome</th>
  			<th>Ultima modifica</th>
  			<th></th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr ng-repeat="simulation in simulations">
  			<td style="width: 50%">{{simulation.name}}</td>
  			<td>{{simulation.modified | date}}</td>
  			<td class="text-right">
					<button type="button" class="btn btn-danger btn-xs" ob-confirm="La simulazione sarà cancellata in modo permanente. Procedere?" ob-confirmed="remove(simulation.id)">
						<span class="glyphicon glyphicon-remove"></span>

						Cancella
					</button>
					<a class="btn btn-default btn-xs" href="#/simulation/{{simulation.id}}/edit">
						<span class="glyphicon glyphicon-pencil"></span>

						Modifica
					</a>
					<a class="btn btn-primary btn-xs" href="#/simulation/{{simulation.id}}">
						<span class="glyphicon glyphicon-play"></span>

						Avvia
					</a>
  			</td>
  		</tr>
  	</tbody>
  	<tfoot>
  		<tr>
  			<td colspan="3">
  				<a class="btn btn-primary btn-sm" href="#/simulation/new">
  					<span class="glyphicon glyphicon-plus"></span>

  						Crea nuova
  				</a>
  			</td>
  		</tr>
  	</tfoot>
  </table>
</div>
