<div class="alert alert-info" role="alert" ng-show="!ready">Caricamento</div>

<div ng-show="ready">
  <h1 ng-show="simulation.id">Modifica Simulazione</h1>
  <h1 ng-show="!simulation.id">Nuova Simulazione</h1>
  <form name="form" role="form" novalidate>

  	<validated-form-group feedback="true">
  		<label class="control-label" for="simulation-name">Nome</label>
  		<input type="text" class="form-control" ng-model="simulation.name" name="name" id="simulation-name" placeholder="Nome della simulazione" required />
  		<validation-error>Inserire un nome per la simulazione</validation-error>
  	</validated-form-group>

  	<validated-form-group feedback="true">
  		<label class="control-label" for="simulation-budget">Budget ASL</label>
  		<input type="number" class="form-control" ng-model="simulation.budget" id="simulation-budget" name="budget" placeholder="Budget ASL in Euro" required integer min="1" />
  		<validation-error>Il budget deve essere un numero intero positivo</validation-error>
  	</validated-form-group>
  	<h2>Prestazioni</h2>
  	<table class="table table-striped form-inline">
  		<thead>
  			<tr>
  				<th>Nome</th>
          <th>Costo</th>
  				<th>Ticket</th>
  				<th>Rimborso ASL</th>
  				<th>Guadagno Privato</th>
  				<th>Numero Minimo</th>
  				<th>Numero Massimo</th>
  				<th></th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr ng-repeat="service in simulation.services" ng-form="serviceForm">
  				<td>
  					<validated-form-group>
  						<label class="control-label sr-only">Nome</label>
  						<input type="text" class="form-control input-sm" ng-model="service.name" name="name" required />
  						<validation-error type="required">Inserire il nome della prestazione</validation-error>
  					</validated-form-group>
  				</td>
          <td>
            <validated-form-group>
              <label class="control-label sr-only">Costo</label>
              <input type="number" class="form-control input-sm" ng-model="service.cost" name="cost" required integer min="1" />
              <validation-error>Inserire un numero intero positivo</validation-error>
            </validated-form-group>
          </td>
  				<td>
  					<validated-form-group>
  						<label class="control-label sr-only">Ticket</label>
  						<input type="number" class="form-control input-sm" ng-model="service.ticket" name="ticket" required integer min="0" />
  						<validation-error>Inserire un numero intero non negativo</validation-error>
  					</validated-form-group>
  				</td>
  				<td>
  					<validated-form-group>
  						<label class="control-label sr-only">Rimborso ASL</label>
  						<input type="number" class="form-control input-sm" ng-model="service.refund" name="refund" required integer min="1" />
  						<validation-error>Inserire un numero intero positivo</validation-error>
  					</validated-form-group>
  				</td>
  				<td>
  					<validated-form-group>
  						<label class="control-label sr-only">Guadagno Privato</label>
  						<input type="number" class="form-control input-sm" ng-model="service.privateGain" name="privateGain" required integer min="0" />
  						<validation-error>Inserire un numero intero non negativo</validation-error>
  					</validated-form-group>
  				</td>
  				<td>
  					<validated-form-group>
  						<label class="control-label sr-only">Numero Minimo</label>
  						<input type="number" class="form-control input-sm" ng-model="service.minimum" name="minimum" required integer min="0" />
  						<validation-error>Inserire un numero intero non negativo</validation-error>
  					</validated-form-group>
  				</td>
  				<td>
  					<validated-form-group>
  						<label class="control-label sr-only">Numero Massimo</label>
  						<input type="number" class="form-control input-sm" ng-model="service.maximum" name="maximum" required integer min="0" />
  						<validation-error>Inserire un numero intero positivo o zero se non c'è un numero massimo</validation-error>
  					</validated-form-group>
  				</td>
  				<td>
  					<button type="button" class="btn btn-danger btn-sm" ng-click="removeService($index)" ng-show="simulation.services.length > 1">
  						<span class="glyphicon glyphicon-remove"></span>
  					</button>
  				</td>
  			</tr>
  		</tbody>
  		<tfoot>
  			<tr>
  				<td colspan="8">
  					<button type="button" class="btn btn-primary btn-sm" ng-click="addService()">
  						<span class="glyphicon glyphicon-plus"></span>

  						Aggiungi Prestazione
  					</button>
  				</td>
  			</tr>
  		</tfoot>
  	</table>
  	<div>
  		<button type="button" class="btn btn-default" ng-click="saveAndContinue()" ng-disabled="saving">
  			<span class="glyphicon glyphicon-floppy-disk"></span>

  			Salva e Continua
  		</button>
  		<button type="button" class="btn btn-primary" ng-click="saveAndRun()" ng-disabled="saving">
  			<span class="glyphicon glyphicon-play"></span>

  			Salva ed Esegui
  		</button>
  	</div>
  </form>
</div>
